<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="admin-container">
    <div class="admin-sidebar" th:insert="~{admin.html :: adminSideBar}"></div>

    <div class="admin-content" th:fragment="adminContent">
        <h1 class="page-name">Checks of payments</h1>
        <form action="#" th:action="@{/admin/check_payments}" method="post" id="checkPaymentsForm">
            <input class="submitbtn" type="submit" value="Check payment" style="width: 200px">
        </form>
        <table class="tariffs-table">
            <tr>
                <th class="tariff-table-th">Id</th>
                <th class="tariff-table-th">Checker ID</th>
                <th class="tariff-table-th">Amount of users</th>
                <th class="tariff-table-th">Amount of money</th>
                <th class="tariff-table-th">Date of check</th>
            </tr>
            <tr th:each="check : ${checks}">
                <td class="tariff-table-td" th:text="${check.checkId}"/>
                <td class="tariff-table-td" th:text="${check.checkerId}"/>
                <td class="tariff-table-td" th:text="${check.users}"/>
                <td class="tariff-table-td" th:text="${check.amount}"/>
                <td class="tariff-table-td" th:text="${#dates.format(check.dateOfCheck, 'dd-MM-yyyy')}"/>
            </tr>
        </table>
        <br/>
        <div class="previous" th:if="${pageable.hasPrevious()}">
            <a th:href="@{/admin/check_payments(page=${pageable.previousPageable().getPageNumber()})}">
                &laquo; Previous
            </a>
        </div>
        <div class="next" th:if="${pageable.hasNext()}">
            <a th:href="@{/admin/check_payments(page=${pageable.nextPageable().getPageNumber()})}">
                Next &raquo;
            </a>
        </div>
    </div>
</div>
<script>
    var form = document.getElementById("checkPaymentsForm");
    form.addEventListener("submit", function (event) {
        validateForm(event)
    });

    function validateForm(event) {
        event.preventDefault();
        if (confirm("Check payments")) {
            form.submit();
        }
    }
</script>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
</body>
</html>