<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="admin-container">
    <div class="admin-sidebar" th:insert="~{admin.html :: adminSideBar}"></div>

    <div class="admin-content" th:fragment="adminContent">
        <h1 class="page-name">User tariffs requests</h1>
        <table class="tariffs-table">
            <tr>
                <th class="tariff-table-th">Request id</th>
                <th class="tariff-table-th">Subscriber</th>
                <th class="tariff-table-th">Tariff</th>
                <th class="tariff-table-th">Date</th>
                <th class="tariff-table-th">Status</th>
            </tr>
            <tr th:each="request : ${requests}">
                <td class="tariff-table-td" th:text="${request.connectionRequestId}"/>
                <td class="tariff-table-td" th:text="${request.subscriber}"/>
                <td class="tariff-table-td" th:text="${request.tariff.name}"/>
                <td class="tariff-table-td" th:text="${#dates.format(request.dateOfChange, 'dd-MM-yyyy')}"/>
                <td class="tariff-table-td" th:text="${request.status}"/>
                <td class="tariff-table-td" style="padding: 0">
                    <a class="infobtn"
                       th:href="@{/admin/requests/update(requestId=${request.connectionRequestId})}">
                        Update
                    </a>
                </td>
            </tr>
        </table>
        <br/>
        <div class="previous" th:if="${pageable.hasPrevious()}">
            <a th:href="@{/admin/requests(page=${pageable.previousPageable().getPageNumber()})}">
                &laquo; Previous
            </a>
        </div>
        <div class="next" th:if="${pageable.hasNext()}">
            <a th:href="@{/admin/requests(page=${pageable.nextPageable().getPageNumber()})}">
                Next &raquo;
            </a>
        </div>
    </div>
</div>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
</body>
</html>