<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="admin-container">
    <div class="admin-sidebar" th:insert="~{admin.html :: adminSideBar}"></div>

    <div class="admin-content" th:fragment="adminContent">
        <h1 class="page-name">Tariffs</h1>
        <form method="get" th:action="@{/admin/tariffs/create}" id="createTariff">
            <input class="submitbtn" type="submit" id="create" name="create" value="Create new tariff" style="width: 200px"/>
        </form>
        <table class="tariffs-table">
            <tr>
                <th class="tariff-table-th">Id</th>
                <th class="tariff-table-th">Name</th>
                <th class="tariff-table-th">Description</th>
                <th class="tariff-table-th">Cost</th>
                <th class="tariff-table-th">Frequency of payment</th>
                <th class="tariff-table-th">Status</th>
                <th class="tariff-table-th">Service</th>
            </tr>
            <tr th:each="tariff : ${tariffs}">
                <td class="tariff-table-td" th:text="${tariff.tariffId}"/>
                <td class="tariff-table-td" th:text="${tariff.name}"/>
                <td class="tariff-table-td" th:text="${tariff.description}"/>
                <td class="tariff-table-td" th:text="${tariff.cost}"/>
                <td class="tariff-table-td" th:text="${tariff.frequencyOfPayment}"/>
                <td class="tariff-table-td" th:text="${tariff.status}"/>
                <td class="tariff-table-td">
                    <div th:each="service : ${tariff.getServices()}">
                        <p th:text="${service.serviceType}"></p>
                    </div>
                </td>
                <td class="tariff-table-td" style="padding: 1px">
                    <a class="infobtn" style="text-align: center" th:href="@{/admin/tariffs/update(tariffId=${tariff.tariffId})}">Update</a>
                    <form method="post" th:action="@{/admin/tariffs/delete(tariffId=${tariff.tariffId})}"
                          id="deleteTariff">
                        <input class="unsubbtn" type="submit" id="delete" name="delete" value="Delete"/>
                    </form>
                </td>
            </tr>
        </table>
        <br/>
        <div class="previous" th:if="${pageable.hasPrevious()}">
            <a th:href="@{/admin/tariffs(page=${pageable.previousPageable().getPageNumber()})}">
                &laquo; Previous
            </a>
        </div>
        <div class="next" th:if="${pageable.hasNext()}">
            <a th:href="@{/admin/tariffs(page=${pageable.nextPageable().getPageNumber()})}">
                Next &raquo;
            </a>
        </div>
    </div>
</div>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
</body>
</html>