<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/admin/tariffs.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="admin-container">
    <div class="admin-sidebar" th:insert="~{admin.html :: adminSideBar}"></div>

    <div class="admin-content" th:fragment="adminContent">
        <form method="get" th:action="@{/admin/tariffs/create}" id="createTariff">
            <input type="submit" id="create" name="create" value="Create new tariff"/>
        </form>
        <table class="tariffs-table">
            <tr>
                <th class="tariff-table-th">Id</th>
                <th class="tariff-table-th">Name</th>
                <th class="tariff-table-th">Description</th>
                <th class="tariff-table-th">Cost</th>
                <th class="tariff-table-th">Frequency of payment</th>
                <th class="tariff-table-th">Status</th>
                <th class="tariff-table-th">Service</th>
                <th class="tariff-table-th"></th>
            </tr>
            <tr th:each="tariff : ${tariffs}">
                <td class="tariff-table-td" th:text="${tariff.tariffId}"/>
                <td class="tariff-table-td" th:text="${tariff.name}"/>
                <td class="tariff-table-td" th:text="${tariff.description}"/>
                <td class="tariff-table-td" th:text="${tariff.cost}"/>
                <td class="tariff-table-td" th:text="${tariff.frequencyOfPayment}"/>
                <td class="tariff-table-td" th:text="${tariff.status}"/>
                <td class="tariff-table-td">
                    <div th:each="service : ${tariff.getServices()}">
                        <p th:text="${service.serviceType}"></p>
                    </div>
                </td>
                <td class="tariff-table-td">
                    <!--<form method="get" th:action="@{/admin/tariffs/update(tariffId=${tariff.tariffId})}" id="updateTariff">
                      <input type="submit" id="update" name="update" value="Update"/>
                    </form>-->
                    <a th:href="@{/admin/tariffs/update(tariffId=${tariff.tariffId})}">Update</a>
                    <form method="post" th:action="@{/admin/tariffs/delete(tariffId=${tariff.tariffId})}"
                          id="deleteTariff">
                        <input type="submit" id="delete" name="delete" value="Delete"/>
                    </form>
                    <!--<button th:href="@{/admin/tariffs/delete(tariffId=${tariff.tariffId})}">Delete</button>-->
                </td>
            </tr>
        </table>
        <!--TODO-->
        <div th:if="${page != 1}">
            <a th:href="@{/admin/tariffs(page=${page-1},size=${size})}">Previous</a>
        </div>
        <div th:if="${page != maxPage}">
            <a th:href="@{/admin/tariffs(page=${page+1},size=${size})}">Next</a>
        </div>
    </div>
</div>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
</body>
</html>