<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="admin-container">
    <div class="admin-sidebar" th:insert="~{admin.html :: adminSideBar}"></div>
    <div class="admin-content" th:fragment="adminContent">
        <h1 class="page-name">User Info</h1>
        <div>
            <p><b>User id:</b> <span th:text="${user.userId}"/></p>
            <p><b>Email:</b> <span th:text="${user.email}"/></p>
            <p><b>Full name:</b> <span th:text="${user.firstname + ' ' + user.surname}"/></p>
            <p><b>Role:</b> <span th:text="${user.userRole}"/></p>
            <form sec:authorize="hasRole('MAIN_ADMIN')" action="#"
                  th:action="@{/admin/users/user_info(userId=${user.userId},command='role')}" method="post" th:object="${userInfoForm}">
                <label for="role"><b>Change role: </b></label>
                <select class="select-input" th:field="*{value}" id="role">
                    <option th:value="ADMIN" th:text="Admin"/>
                    <option th:value="USER" th:text="User"/>
                </select>
                <br/>
                <input class="submitbtn" style="width: 20%" type="submit" value="Update user role"/>
            </form>
            <p><b>Status:</b> <span th:text="${user.userStatus}"/></p>

            <form action="#"
                  th:action="@{/admin/users/user_info(userId=${user.userId},command='status')}" method="post" th:object="${userInfoForm}">
                <label for="status"><b>Change status: </b></label>
                <select class="select-input" th:field="*{value}" id="status">
                    <option th:value="SUBSCRIBED" th:text="Subscribed"/>
                    <option th:value="BLOCKED" th:text="Blocked"/>
                </select>
                <br/>
                <input class="submitbtn" type="submit" value="Update user status" style="width: 20%"/>
            </form>
            <p><b>Balance:</b> <span th:text="${user.userBalance}"/></p>
            <p><b>Phone number:</b> <span th:text="${user.telephoneNumber}"/></p>
            <p><b>Registration date:</b> <span th:text="${#dates.format(user.registrationDate, 'dd-MM-yyyy')}"/></p>
            <div th:if="${userTariffs.size() == 0}">
                <p><b>Has no tariffs</b></p>
            </div>
            <div th:if="${userTariffs.size() != 0}">
                <p><b>Connected Tariffs:</b></p>
                <table class="tariffs-table">
                    <tr>
                        <th class="tariff-table-th">Id</th>
                        <th class="tariff-table-th">Name</th>
                        <th class="tariff-table-th">Description</th>
                        <th class="tariff-table-th">Cost</th>
                        <th class="tariff-table-th">Frequency of payment</th>
                        <th class="tariff-table-th">Service</th>
                        <th class="tariff-table-th">Date Of Start</th>
                        <th class="tariff-table-th">Date Of last payment</th>
                    </tr>
                    <tr th:each="tariff : ${userTariffs}">
                        <td class="tariff-table-td" th:text="${tariff.tariffId.tariffId}"/>
                        <td class="tariff-table-td" th:text="${tariff.tariffId.name}"/>
                        <td class="tariff-table-td" th:text="${tariff.tariffId.description}"/>
                        <td class="tariff-table-td" th:text="${tariff.tariffId.cost}"/>
                        <td class="tariff-table-td" th:text="${tariff.tariffId.frequencyOfPayment}"/>
                        <td class="tariff-table-td">
                            <div th:each="service : ${tariff.tariffId.getServices()}">
                                <p th:text="${service.serviceType}"></p>
                            </div>
                        </td>
                        <td class="tariff-table-td" th:text="${#dates.format(tariff.dateOfStart, 'dd-MM-yyyy')}"/>
                        <td class="tariff-table-td" th:text="${tariff.dateOfLastPayment}"/>
                        <td class="tariff-table-td" style="padding: 0">
                            <form action="#"
                                  th:action="@{/admin/users/user_info/delete}" th:object="${deleteTariffFromUserForm}"
                                  method="post">
                                <input type="hidden" th:value="${user.userId}" name="userId"/>
                                <input type="hidden" th:value="${tariff.tariffId.tariffId}" name="tariffId"/>
                                <input class="unsubbtn" type="submit" value="Unsubscribe"/>
                            </form>
                        </td>
                    </tr>
                </table><br/>
            </div>
            <div th:if="${!additionalServices.isEmpty()}">
                <p><b>Additional services:</b></p>
                <table class="tariffs-table">
                    <tr>
                        <th class="tariff-table-th">Connection Request Id</th>
                        <th class="tariff-table-th">Name</th>
                        <th class="tariff-table-th">Cost</th>
                        <th class="tariff-table-th">Status</th>
                    </tr>
                    <tr th:each="service : ${additionalServices}">
                        <td class="tariff-table-td" th:text="${service.requestId.connectionRequestId}"/>
                        <td class="tariff-table-td" th:text="${service.serviceId.name}"/>
                        <td class="tariff-table-td" th:text="${service.serviceId.cost}"/>
                        <td class="tariff-table-td" th:text="${service.status}"/>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
</body>
</html>