<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/admin/tariffs.css}"/>
</head>
<body>
<div class="admin-header">
    <h1>Welcome to your admin page</h1>
</div>
<div class="admin-container">
    <div class="admin-sidebar" th:insert="~{admin.html :: adminSideBar}"></div>

    <div class="admin-content" th:fragment="adminContent">
        <h1>Users</h1>
        <table class="users-table">
            <tr>
                <th class="user-table-th">UserID</th>
                <th class="user-table-th">Email</th>
                <th class="user-table-th">Role</th>
                <th class="user-table-th">Status</th>
                <th class="user-table-th"></th>
            </tr>
            <tr th:each="user : ${users}">
                <td class="user-table-td" th:text="${user.userId}"/>
                <td class="user-table-td" th:text="${user.email}"/>
                <td class="user-table-td" th:text="${user.userRole}"/>
                <td class="user-table-td" th:text="${user.userStatus}"/>
                <td class="user-table-td-td">
                    <!--<form method="get" th:action="@{/admin/tariffs/update(tariffId=${tariff.tariffId})}" id="updateTariff">
                      <input type="submit" id="update" name="update" value="Update"/>
                    </form>-->
                    <a th:href="@{/admin/users/user_info(userId=${user.userId})}">more info</a>
                </td>
            </tr>
        </table>
        <!--TODO-->
        <div th:if="${page != 1}">
            <a th:href="@{/admin/users(page=${page-1},size=${size})}">Previous</a>
        </div>
        <div th:if="${page != maxPage}">
            <a th:href="@{/admin/users(page=${page+1},size=${size})}">Next</a>
        </div>
    </div>
</div>
</body>
</html>