<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="admin-container">
    <div class="admin-sidebar" th:insert="~{admin.html :: adminSideBar}"></div>
    <div class="admin-content" th:fragment="adminContent">
        <h1 class="page-name">Update additional service</h1>
        <form action="#" th:object="${additionalService}"
              th:action="@{/admin/add_services/update(additionalService=${currentAddService.additionalServiceId})}"
              method="post">

            <input type="hidden" name="additionalServiceId" th:value="${currentAddService.additionalServiceId}"/>

            <label for="name"><b>Name</b></label><br/>
            <input type="text" th:field="*{name}" name="name" id="name" th:placeholder="${currentAddService.name}"/>
            <span class="validationError" th:errors="*{name}"></span>
            <span class="error" th:if="${nameError != null}" th:text="${nameError}"></span><br/>

            <label for="desc"><b>Description</b></label><br/>
            <input type="text" th:field="*{description}" name="desc" id="desc"
                   th:placeholder="${currentAddService.description}"/>
            <span class="validationError" th:errors="*{description}"></span><br/>

            <label for="cost"><b>Cost</b></label><br/>
            <input type="number" th:field="*{cost}" name="cost" id="cost" th:placeholder="${currentAddService.cost}"/>
            <span class="validationError" th:errors="*{cost}"></span><br/>

            <label><b>Status</b></label><br/>
            <span class="validationError" th:errors="*{status}"></span>
            <div class="radio-statuses">
                <label class="radio-container">
                    <label class="radio-text">Disabled</label>
                    <input type="radio" th:field="*{status}" name="radio" value="DISABLED"
                           id="statusDisabled" checked="checked"><br/>
                    <span class="radio"></span>
                </label>
                <label class="radio-container">
                    <label class="radio-text">Active</label>
                    <input type="radio" th:field="*{status}" name="radio" value="ACTIVE"
                           id="statusActive"><br/>
                    <span class="radio"></span>
                </label>
            </div>

            <input class="submitbtn" type="submit" value="Update additional service"/>
        </form>
    </div>
</div>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
<script>
    const currentStatus = "[[${currentAddService.status}]]";

    if (currentStatus === "ACTIVE")
        document.getElementById("statusActive").checked = true;
    else
        document.getElementById("statusDisabled").checked = true;

</script>
</body>
</html>