<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cabinet</title>
    <link rel="stylesheet" th:href="@{/css/cabinet.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
    <link rel="stylesheet" th:href="@{/css/cabinet/details.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="cabinet-container">
    <div class="cabinet-sidebar" th:insert="~{cabinet.html :: cabinetSideBar}">
    </div>
    <div class="cabinet-content" th:fragment="cabinetContent">
        <h1 class="page-name">Change account details</h1>
        <form action="#" th:action="@{/cabinet/details}" th:object="${newUserDetails}" method="post">

            <label for="email"><b>Email</b></label><br/>
            <input type="text" th:field="*{email}" id="email"
                   placeholder="Enter new email"/>
            <span class="error" th:if="${error_email != null}" th:text="${error_email}"></span>
            <span class="validationError" th:errors="*{email}"></span>
            <br/>

            <label for="firstname"><b>Firstname</b></label><br/>
            <input type="text" th:field="*{firstname}" id="firstname"
                   placeholder="Enter new firstname"/>
            <span class="validationError" th:errors="*{firstname}"></span>
            <br/>

            <label for="surname"><b>Surname</b></label><br/>
            <input type="text" th:field="*{surname}" id="surname"
                   placeholder="Enter new surname"/>
            <span class="validationError" th:errors="*{surname}"></span>
            <br/>

            <label for="phoneNumber"><b>Phone number</b></label><br/>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber"
                   placeholder="Enter new phone number"/>
            <span class="validationError" th:errors="*{phoneNumber}"></span>
            <br/>

            <label for="password"><b>Password</b></label><br/>
            <input type="password" th:field="*{password}" id="password"
                   placeholder="Enter you password"/>
            <span class="error" th:if="${passError != null}" th:text="${passError}"></span>
            <span class="validationError" th:errors="*{password}"></span>
            <br/>

            <input class="submitbtn" type="submit" value="Update details"/>
        </form>
    </div>
</div>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
</body>
</html>