<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cabinet</title>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
    <link rel="stylesheet" th:href="@{/css/cabinet.css}"/>
</head>
<body>

<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="cabinet-container">
    <div class="cabinet-sidebar" th:insert="~{cabinet.html :: cabinetSideBar}">
    </div>
    <div class="cabinet-content" th:fragment="cabinetContent">
        <h1>Welcome to your Cabinet,
            <span th:text="${#authentication.principal.firstname}"></span>
        </h1>
        <p>Email: <span th:text="${#authentication.name}"/></p>
        <p>Status: <span th:text="${#authentication.principal.userStatus}"/></p>
        <p>Registration date: <span
                th:text="${#dates.format(#authentication.principal.registrationDate, 'dd-MM-yyyy')}"/></p>
        <p>Telephone number: <span th:text="${#authentication.principal.telephoneNumber}"/></p>
        <p>Balance: <span th:text="${#authentication.principal.userBalance}"/> ₴</p>
        <div th:if="${!tariffs.isEmpty()}" class="tariffs">
            <p>Connected Tariffs:</p>
            <table class="tariffs-table">
                <tr>
                    <th class="tariff-table-th">Name</th>
                    <th class="tariff-table-th">Description</th>
                    <th class="tariff-table-th">Cost</th>
                    <th class="tariff-table-th">Frequency of payment</th>
                    <th class="tariff-table-th">Service</th>
                    <th class="tariff-table-th">Date Of Start</th>
                    <th class="tariff-table-th">Date Of last payment</th>
                </tr>
                <tr th:each="tariff : ${tariffs}">
                    <td class="tariff-table-td" th:text="${tariff.tariffId.name}"/>
                    <td class="tariff-table-td" th:text="${tariff.tariffId.description}"/>
                    <td class="tariff-table-td" th:text="${tariff.tariffId.cost}"/>
                    <td class="tariff-table-td" th:text="${tariff.tariffId.frequencyOfPayment}"/>
                    <td class="tariff-table-td">
                        <div th:each="service : ${tariff.tariffId.getServices()}">
                            <p th:text="${service.serviceType}"></p>
                        </div>
                    </td>
                    <td class="tariff-table-td" th:text="${#dates.format(tariff.dateOfStart, 'dd-MM-yyyy')}"/>
                    <td class="tariff-table-td" th:text="${tariff.dateOfLastPayment}"/>
                    <td class="tariff-table-td" style="padding: 1px">
                        <form action="#" th:action="@{/cabinet/profile(tariffId=${tariff.userTariffsId})}"
                              id="unsubscribeTariffForm" method="post">
                            <input class="unsubbtn" type="submit" value="Unsubscribe tariff"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
<footer class="footer" th:insert="~{template.html :: footerFragment}"></footer>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
<script>
    var form = document.getElementById("unsubscribeTariffForm");
    form.addEventListener("submit", function (event) {
        validateForm(event)
    });

    function validateForm(event) {
        event.preventDefault();
        if (confirm("Are you sure?")) {
            form.submit();
        }
    }
</script>
</body>
</html>