body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.cabinet-container {
    display: flex;
}

.cabinet-sidebar {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
}

.cabinet-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cabinet-sidebar li {
    margin: 10px 0;
}

.cabinet-sidebar a {
    color: #333;
    text-decoration: none;
}

.cabinet-content {
    flex: 3;
    padding: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.unsubbtn {
    width: 100%;
    height: 100%;
    background-color: indianred;
    color: white;
    padding: 15px 18px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    font-size: 16px;
}

.unsubbtn:hover {
    opacity: 1;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    display: inline-block;
}

.next {
    background-color: #4CAF50;
    color: white;
    display: inline-block;
}

.next a, .previous a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.next a:visited, .previous a:visited{
    color: inherit;
}

.next a:hover, .previous a:hover {
    background-color: #ddd;
    color: black;
}


