.register-container {
    display: flex;
}

.home-sidebar {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
}

.home-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.home-sidebar li {
    margin: 10px 0;
}

.home-sidebar a {
    color: #333;
    text-decoration: none;
}
/* Add padding to containers */
.register-form {
    flex: 3;
    padding: 20px;
}

* {box-sizing: border-box}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #e5ebf4;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    width: 60%;
    background-color: #f1f1f1;
    text-align: center;
}

.error {
    color: red;
}

.validationError {
    color: darkred;
}