<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Fastest</title>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="home-container">
    <div class="home-sidebar" th:insert="~{template.html :: homeSideBar}"></div>
    <div class="home-content">
        <h1 class="page-name" th:text="#{main.title}">Main_page</h1>
        <p th:text="#{main.phrase}"></p>
        <div class="main-menu">
            <form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
            <form sec:authorize="!isAuthenticated()" method="get" th:action="@{/login}">
                <input type="submit" value="Login"/>
            </form>
            <a th:href="@{/tariffs}">
                <button>Tariffs</button>
            </a>
        </div>
    </div>
</div>
<footer class="footer" th:insert="~{template.html :: footerFragment}"></footer>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
</body>
</html>