<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TacoCloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="login-container">
    <div class="home-sidebar" th:insert="~{template.html :: homeSideBar}"></div>
    <div class="login-form">
        <h1 class="page-name">Login</h1>


        <form method="post" th:action="@{/login}" id="loginForm">


            <label for="username"><b>Username</b></label>
            <br/>
            <input type="text" name="username" id="username" required autocomplete="off"
                   placeholder="Enter email"/><br/>

            <label for="password"><b>Password</b></label>
            <br/>
            <input type="password" name="password" id="password" required autocomplete="off"
                   placeholder="Enter password"/>
            <span class="error" th:if="${loginError}">
                <br/>
                Unable to login. Check your username and password.
                <br/>
            </span>
            <input class="loginbtn" type="submit" value="Login"/>

        </form>
        <div class="signin">
            <p>New here? Click
                <a th:href="@{/register}">here</a> to register.
            </p>
        </div>
    </div>

</div>

<div th:insert="~{template.html :: headerScriptFragment}"></div>
</body>
</html>