<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
    <link rel="stylesheet" th:href="@{/css/request.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="request-container">
    <div class="home-sidebar" th:insert="~{template.html :: homeSideBar}"></div>
    <div class="request-form">
        <h1 class="page-name">Request</h1>
        <p>Please fill in this form to create a request to connect tariff.</p>

        <form th:object="${connectionRequest}"
              th:action="@{/tariffs/request(tariffId=${tariffId})}" method="post">

            <label for="city"><b>City</b></label><br/>
            <input type="text" th:field="*{city}" name="city" id="city"
                   placeholder="*Enter City"/>
            <span class="validationError" th:errors="*{city}"></span><br/>

            <label for="address"><b>Address</b></label><br/>
            <input type="text" th:field="*{address}" name="address" id="address"
                   placeholder="*Enter Address"/>
            <span class="validationError" th:errors="*{address}"></span><br/>

            <label>Additional services <a th:href="@{/services}" target="_blank">(See All)</a>: </label><br/><br/>
            <div class="checkboxes-services" th:each="service : ${additionalServices}">
                <label class="check-container">
                    <label class="check-text" th:text="${service.name}"></label>
                    <input th:field="*{additionalServiceList}" type="checkbox"
                           th:value="${service.additionalServiceId}">
                    <span class="checkmark"></span><br/>
                </label>
            </div>
            <input class="submitbtn" type="submit" value="Create request"/>
        </form>
    </div>
</div>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
</body>
</html>