<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fastest</title>
    <link rel="stylesheet" th:href="@{/css/tariffs.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="tariff-container">
    <div class="home-sidebar" th:insert="~{template.html :: homeSideBar}"></div>
    <div class="tariff-content">
        <h1 class="page-name">List of additional services</h1>
        <div th:if="${service.status.name == 'ACTIVE'}" th:each="service : ${additionalServices}" class="columns">
            <ul class="price">
                <li class="header" th:text="${service.name}"></li>
                <li class="grey" th:text="${service.cost + ' UAH'}"></li>
                <li class="desc" th:text="${service.description}"></li>
            </ul>
        </div>

    </div>
</div>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
</body>
</html>