<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fastest</title>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<h1 class="page-name">List of tariffs</h1>
<!--<div th:each="tariff : ${tariffs}">
    <span th:text="${tariff.name}">TARIFFS</span><br/>
</div>-->
<table class="tariffs-table">
    <tr>
        <th class="tariff-table-th">Id</th>
        <th class="tariff-table-th">Name</th>
        <th class="tariff-table-th">Description</th>
        <th class="tariff-table-th">Cost</th>
        <th class="tariff-table-th">Frequency of payment</th>
        <th class="tariff-table-th">Status</th>
        <th class="tariff-table-th">Service</th>
        <th class="tariff-table-th"/>
    </tr>
    <tr th:each="tariff : ${tariffs}">
        <td class="tariff-table-td" th:text="${tariff.tariffId}"/>
        <td class="tariff-table-td" th:text="${tariff.name}"/>
        <td class="tariff-table-td" th:text="${tariff.description}"/>
        <td class="tariff-table-td" th:text="${tariff.cost}"/>
        <td class="tariff-table-td" th:text="${tariff.frequencyOfPayment}"/>
        <td class="tariff-table-td" th:text="${tariff.status}"/>
        <td class="tariff-table-td">
            <div th:each="service : ${tariff.getServices()}">
                <p th:text="${service.serviceType}"></p>
            </div>
        </td>
        <td>
            <a th:href="@{/tariffs/request(tariffId=${tariff.tariffId})}">request</a>
        </td>
    </tr>
</table>
<!--TODO-->
<div th:if="${page != 1}">
    <a th:href="@{/tariffs(page=${page-1},size=${size})}">Previous</a>
</div>
<div th:if="${page != maxPage}">
    <a th:href="@{/tariffs(page=${page+1},size=${size})}">Next</a>
</div>
<nav class="pagination-container">
    <!--TODO pagination-->
    <button th:if="${page != 1}" class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page">
        <a th:href="@{/tariffs(page=${-1+page})}">&lt;</a>
    </button>

    <div id="pagination-numbers">

    </div>

    <button th:if="${page != maxPage}" class="pagination-button" id="next-button" aria-label="Next page" title="Next page">
        <a th:href="@{/tariffs(page=${page+1})}">&gt;</a>
    </button>
</nav>
<script>
    var maxPage = [[${maxPage}]];
</script>
<script th:src="@{/js/pagination.js}"></script>
</body>
</html>