<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fastest</title>
    <link rel="stylesheet" th:href="@{/css/tariffs.css}"/>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="tariff-container">
    <div class="home-sidebar" th:insert="~{template.html :: homeSideBar}"></div>
    <div class="tariff-content">
        <h1 class="page-name">List of tariffs</h1>
        <div th:each="tariff : ${tariffs}" class="columns">
            <ul class="price">
                <li class="header" th:text="${tariff.name}"></li>
                <li class="grey" th:text="${tariff.cost + ' UAH / ' + tariff.frequencyOfPayment + ' days'}"></li>
                <li class="desc" th:text="${tariff.description}"></li>
                <li>
                    <div th:each="service : ${tariff.getServices()}">
                        <p th:text="${service.serviceType}"></p>
                    </div>
                </li>
                <li class="grey"><a th:href="@{/tariffs/request(tariffId=${tariff.tariffId})}" class="button">Request</a></li>
            </ul>
        </div>
        <!--<table class="tariffs-table">
            <tr>
                <th class="tariff-table-th">
                    <a th:href="@{/tariffs(page=${pageable.getNumber()},
                    sort=${pageable.getSort().toString() == ('tariff_id: ASC') ? 'tariff_id: DESC' : 'tariff_id: ASC'})}">
                        Id
                    </a>
                </th>
                <th class="tariff-table-th">
                    <a th:href="@{/tariffs(page=${pageable.getNumber()},
                    sort=${pageable.getSort().toString() == ('name: ASC') ? 'name: DESC' : 'name: ASC'})}">
                        Name
                    </a>
                <th class="tariff-table-th">Description</th>
                <th class="tariff-table-th">
                    <a th:href="@{/tariffs(page=${pageable.getNumber()},
                    sort=${pageable.getSort().toString() == ('cost: ASC') ? 'cost: DESC' : 'cost: ASC'})}">
                        Cost
                    </a>
                </th>
                <th class="tariff-table-th">Frequency of payment</th>
                <th class="tariff-table-th">Service</th>
            </tr>
            <tr th:each="tariff : ${tariffs}">
                <td class="tariff-table-td" th:text="${tariff.tariffId}"/>
                <td class="tariff-table-td" th:text="${tariff.name}"/>
                <td class="tariff-table-td" th:text="${tariff.description}"/>
                <td class="tariff-table-td" th:text="${tariff.cost}"/>
                <td class="tariff-table-td" th:text="${tariff.frequencyOfPayment}"/>
                <td class="tariff-table-td">
                    <div th:each="service : ${tariff.getServices()}">
                        <p th:text="${service.serviceType}"></p>
                    </div>
                </td>
                <td>
                    <a th:href="@{/tariffs/request(tariffId=${tariff.tariffId})}">request</a>
                </td>
            </tr>
        </table>-->

        <br/>
        <!--TODO-->
        <div class="previous" th:if="${pageable.hasPrevious()}">
            <a th:href="@{/tariffs(page=${pageable.previousPageable().getPageNumber()}, sort=${pageable.getSort()})}">&laquo; Previous</a>
        </div>
        <div class="next" th:if="${pageable.hasNext()}">
            <a th:href="@{/tariffs(page=${pageable.nextPageable().getPageNumber()}, sort=${pageable.getSort()})}">Next &raquo;</a>
        </div>
    </div>
</div>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
<!--<script>
    var maxPage = [[${maxPage}]];
</script>
<script th:src="@{/js/pagination.js}"></script>-->
<script>
    // Получаем все div элементы с классом "my-class"
    var elements = document.querySelectorAll('.columns');

    // Находим максимальный размер
    var maxHeight = 0;
    for (var i = 0; i < elements.length; i++) {
        if (elements[i].clientHeight > maxHeight) {
            maxHeight = elements[i].clientHeight;
        }
    }

    // Устанавливаем максимальный размер для всех элементов
    for (var i = 0; i < elements.length; i++) {
        elements[i].style.height = maxHeight + 'px';
    }
</script>
</body>
</html>