<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
</head>
<body>
<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="admin-container">
    <div class="admin-sidebar" th:insert="~{admin.html :: adminSideBar}"></div>

    <div class="admin-content" th:fragment="adminContent">
        <h1>Users stat</h1>
        <div class="sort-table">
            <form th:action="@{/admin/statistics/users}" method="get" th:object="${sortUserStatisticsForm}">
                <label for="address">Address: </label>
                <input type="text" id="address" th:field="*{address}">
                <label for="tariff">Tariff: </label>
                <select th:field="*{tariff}" id="tariff">
                    <option value="0">Any</option>
                    <option th:each="tariff : ${tariffs}" th:value="${tariff.tariffId}" th:text="${tariff.name}"/>
                </select>
                <label for="dateOfStartPeriod">Date of start: </label>
                <input type="date" id="dateOfStartPeriod" th:field="*{dateOfStartPeriod}"/>
                <label for="dateOfEndPeriod">Date of end period: </label>
                <input type="date" id="dateOfEndPeriod" th:field="*{dateOfEndPeriod}"/>
                <input type="submit" value="Sort"/>
            </form>
        </div>
        <table>
            <tr>
                <th>User Id</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>More</th>
            </tr>
            <tr th:each="user : ${userList}">
                <td th:text="${user.userId}">userId</td>
                <td th:text="${user.username}">username</td>
                <td class="user-table-td" th:text="${user.userRole}">role</td>
                <td class="user-table-td" th:text="${user.userStatus}">status</td>
                <td class="user-table-td-td">
                    <!--<form method="get" th:action="@{/admin/tariffs/update(tariffId=${tariff.tariffId})}" id="updateTariff">
                      <input type="submit" id="update" name="update" value="Update"/>
                    </form>-->
                    <a th:href="@{/admin/users/user_info(userId=${user.userId})}">more info</a>
                </td>
            </tr>
        </table>
        <p>Amount of users: <span style="font-weight: bold" th:text="${amount}"></span></p>
    </div>
</div>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
<script th:src="@{/js/moment.js}"></script>
<script>
    var dateStr = "[[${sortUserStatisticsForm.dateOfStartPeriod}]]";
    var dateObj = moment(dateStr, "ddd MMM DD HH:mm:ss zzz YYYY");
    var formattedDate = dateObj.format("YYYY-MM-DD");
    document.getElementById("dateOfStartPeriod").value = formattedDate;

    dateStr = "[[${sortUserStatisticsForm.dateOfEndPeriod}]]";
    dateObj = moment(dateStr, "ddd MMM DD HH:mm:ss zzz YYYY");
    formattedDate = dateObj.format("YYYY-MM-DD");
    document.getElementById("dateOfEndPeriod").value = formattedDate;

    today = new Date().toISOString().split("T")[0];
    document.getElementById("dateOfEndPeriod").setAttribute("max", today);
    document.getElementById("dateOfStartPeriod").setAttribute("max", today);
</script>
</body>
</html>