<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}"/>
</head>
<body>
<div class="admin-header">
    <h1>Welcome to your admin page</h1>
</div>
<div class="admin-container">
    <div class="admin-sidebar" th:insert="~{admin.html :: adminSideBar}"></div>
    <div class="admin-content" th:fragment="adminContent">
        <div>
            <p>Request id: <span th:text="${connectionRequest.connectionRequestId}"/></p>
            <p>Subscriber id: <span th:text="${subscriber.userId}"/></p>
            <p>Email: <span th:text="${subscriber.email}"/> </p>
            <p>Full name: <span th:text="${subscriber.firstname + ' ' + subscriber.surname}"/></p>
            <p>Status: <span th:text="${subscriber.userStatus}"/></p>
            <p>Balance: <span th:text="${subscriber.userBalance}"/> </p>
            <p>Phone number: <span th:text="${subscriber.telephoneNumber}"/></p>
            <p>City: <span th:text="${connectionRequest.city}"/></p>
            <p>Address: <span th:text="${connectionRequest.address}"/> </p>
            <p>Date of request: <span th:text="${#dates.format(connectionRequest.dateOfChange, 'dd-MM-yyyy')}"/> </p>
            <p>Request status: <span th:text="${connectionRequest.status}"/></p>
            <p>Tariff: <span th:text="${connectionRequest.tariff.name}"/></p>


        </div>
        <form action="#"
              th:action="@{/admin/requests/update(requestId=${connectionRequest.connectionRequestId})}" method="post">
            <select name="status">
                <div th:each="status : ${statuses}">
                    <option th:value="${status.name()}" th:text="${status}"/>
                </div>
            </select>
            <input type="submit" value="Update request"/>
        </form>
    </div>
</div>
</body>
</html>