<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cabinet</title>
    <link rel="stylesheet" th:href="@{/css/shared.css}"/>
    <link rel="stylesheet" th:href="@{/css/cabinet.css}"/>
</head>
<body>

<header class="cabinet-header" th:insert="~{template.html :: headerFragment}"></header>
<div class="cabinet-container">
    <div class="cabinet-sidebar" th:insert="~{cabinet.html :: cabinetSideBar}">
    </div>
    <div class="cabinet-content" th:fragment="cabinetContent">
        <form action="#" th:object="${connectionRequestForm}" method="post"
              th:action="@{/cabinet/requests/update(requestId=${currentConnectionRequest.connectionRequestId})}">
            <label for="city">City:</label>
            <input type="text" th:field="*{city}" name="city" id="city"
                   th:placeholder="${currentConnectionRequest.city}">
            <span class="validationError"
                  th:if="${#fields.hasErrors('city')}" th:errors="*{city}">
              City validation error
            </span><br/>

            <label for="address">Address:</label>
            <input type="text" th:field="*{address}" name="address" id="address"
                   th:placeholder="${currentConnectionRequest.address}">
            <span class="validationError"
                  th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
              Address validation error
            </span><br/>

            <label>Tariff</label>
            <div class="radio-tariff" th:each="tariff : ${tariffList}">
                <input type="radio" th:field="*{tariff}" name="tariff" th:value="${tariff.tariffId}"
                       th:id="'tariff_' + ${tariff.tariffId}" th:text="${tariff.name}"><br/>
            </div>

            <label>Additional service(s):</label><br/>
            <div class="checkboxes-services" th:each="service : ${addServices}">
                <input th:field="*{additionalServiceList}" type="checkbox" th:value="${service.additionalServiceId}"
                       th:id="'service_' + ${service.additionalServiceId}"/>
                <span th:text="${service.name}">SERVICE</span><br/>
            </div>

            <input type="submit" value="Update request">
        </form>
    </div>
</div>
<footer class="footer" th:insert="~{template.html :: footerFragment}"></footer>
<div th:insert="~{template.html :: headerScriptFragment}"></div>
<script>
    var currentTariff = [[${currentConnectionRequest.tariff.tariffId}]];
    const services = [];
    var list = [[${currentAddServices}]];

    document.getElementById("tariff_" + currentTariff).checked = true;

    for (var i in list) {
        document.getElementById("service_" + list[i]).click();
    }

</script>
</body>
</html>